<%= form_with(model: @comment, url: user_article_comments_path) do |form| %>
  <%= form.hidden_field :user_id %>
  <div class="form">
    <%= form.label :body %><br>
    <%= form.text_field :body, :rows => 3, :maxlength=> 100 %>
  </div>

  <div class="form">
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <div class = "btn">
    <%= form.submit :Create, class: 'btn btn-success'%>
  </div>
<% end %>

<style>
div.form {
  padding: 5px;
  margin: 0 0 0 70px;
}

div.btn {
  margin: 0 0 0 70px;
}
</style>