<div class="header">
  <h1>User Articles</h1>
  <p><%= @user.username %> has <%= @user.articles.public_count %> articles and counting!</p>
</div>

<% if current_user?(@user) %>  
  <h2>List of own articles</h2>
  <ul class="list-group">
    <% @user.articles.each do |article| %>
      <% unless article.archived? %>
        <li class="list-group-item list-group-item-primary">
          <%= link_to article.title, article%>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <%= link_to "Edit", edit_user_article_path(@user, article), :class => "btn btn-primary" %>
            <%= link_to "delete", user_article_path(@user, article), method: :delete,
                            data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  
  <h2>list of articles of the people you follow</h2>
  <ul class="list-group">
    <% follows_user = @user.follows.all %>
    <% follows_user.each do |f_user| %>
    <% user = User.find(f_user.followed_id) %>
      <% user.articles.each do |article| %>
        <% unless article.archived? %>
          <li class="list-group-item list-group-item-secondary">
            <%= link_to article.title, article%>
            <div class="btn-comment">
              <%= link_to "Comment", new_user_article_comment_path(@user, article), :class => "btn btn-dark" %>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% else %>

  <h2>list of <%= @user.username %> articles</h2>
  <ul class="list-group">
    <% @user.articles.each do |article| %>
      <% unless article.archived? %>
        <li class="list-group-item list-group-item-primary">
          <%= link_to article.title, article%>
          <% if current_user.follows.exists?(followed: @user) %>
            <div class="btn-comment">
              <%= link_to "Comment", new_user_article_comment_path(@user, article), :class => "btn btn-dark" %>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

<% end %>

<style>
h1 {
  color: #C0C0C0; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 100px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
  font-color: #5F9EA0;
}

h2 {
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 32px;
  text-aling: justify;
  margin: 0 30px 15px 30px;
}

p {
  color: #F0F8FF; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 10 72px;
  text-align: center;
}

div.header{
  background-color: #708090;
  padding: 20px;
}

div.btn {
  margin: 20px 0 20px 30px;
}

div.btn-group {
  float: right;
}

div.btn-comment {
  float: right;
}

ul {
  margin: 0 30px 0 30px;
}

li {
  margin: 0 0 10px 0;
}
</style>
