<div class="header">
  <h1>Articles blog</h1>
</div>

<h2>Please log in or Sign up</h2>
<%= flash[:alert] %>

<%= form_tag '/login' do %>
  <div class="form">
    <%= label_tag :username %> 
    <%= text_field_tag :username %>
  </div>
  <div class="form">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="btn">
    <%= submit_tag "login", class: "btn btn-outline-success" %>
  </div>
<%end%>

<div class="btn">
    <%= link_to "Sign up", new_user_path, :class => "btn btn-outline-primary" %>
</div>

<style>
h1 {
  color: #C0C0C0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-color: #5F9EA0;
}

h2 {
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 32px;
  text-aling: justify;
  margin: 0 30px 15px 30px;
}

div.header{
  background-color: #708090;
  padding: 15px;
}

div.form {
  padding: 15px;
  margin: 0 0 0 70px;
}

div.btn {
  margin:  20px 70px;
}
</style>
