  <div class="row p-5">
  <div class="col-2">
  </div>
  <div class="col-4" id="col-form">
    <h1>Welcome</h1>
  <%= flash[:alert] %>
  <%= form_tag '/login' do %>
    <div class="form">
      <%= label_tag :username %><br>
      <%= text_field_tag :username %>
    </div>
    <div class="form">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
    <div class="btn">
      <%= submit_tag "login", class: "btn btn-outline-primary" %>
      <%= link_to "Sign up", new_user_path, :class => "btn btn-outline-primary" %>
    </div> 
  <%end%>  
  </div>
  <div class="col-4">
    <img src="https://www.cetys.mx/noticias/wp-content/uploads/2020/08/1-7.jpg" class="img-fluid">
  </div>
  </div>
<style>
h1 {
  font-family: 'Helvetica Neue', sans-serif;
  color: #2F4F4F;
  line-height: 1;
}
#col-form {
  background-color: #E6E6FA;
  border-radius: 25px 0 0 25px;
}

input[type=text] {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #2F4F4F;
  outline: none;
}

input[type=password] {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #2F4F4F;
  outline: none;
}
</style>
